div#animation-window{
    position : relative;
    background-color: red;
    width : 1000px;
    height : 1000px;
    left : 0;
    top : 0;
}

div#interactive-menu{
    background: #ff851b;
    position : absolute;
    width : 400px;
    height : 1000px;
    left : 1000px;
    top : 0;
}

canvas{
  position : absolute;
}
