div#outer{
    background-color: red;
    position : relative;
    width : 1000px;
    height : 1000px;
}

div#menu{
    position : absolute;
    background-color: white;
    color : red;
    width : 50%;
    top : 0;
    right : 0;
    z-index: 10;
}

.dg.main{
    z-index: 7;
    position: absolute;
    right : 0;
}

canvas{
    position: absolute;
    z-index: 5;
}